In [145]:
import pandas as pd

In [213]:
#Usage summary table
#Each row = each day user logged into product

#SORTED by user_id; not DATE

engage = pd.read_csv("takehome_user_engagement.csv")
engage.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [147]:
engage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [188]:
users = pd.read_csv("takehome_users.csv")
users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0

In [178]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [179]:
#Sort "engage" by users' number of visits

#Output user_id's that have cumulative =>3 visited

visits = engage["user_id"].value_counts()
adopted = visits[visits >= 3]
 
adopted
#Based on this, can see that out of 207917 time stamps, there are 2248 users who have logged in 
#to their device 3 or more instances. 

#Need to see how spread apart are these log-ins...7 days or more?

3623     606
906      600
1811     593
7590     590
8068     585
9402     581
4022     580
3269     566
9312     547
7210     545
8029     541
2474     538
2658     526
8280     521
69       521
5297     520
4019     519
9083     517
2519     511
4263     509
3226     502
10599    501
6312     500
10953    499
8426     496
2316     496
603      489
2078     488
8768     487
445      487
        ...
1742       3
10058      3
788        3
5730       3
9232       3
11250      3
8802       3
11213      3
455        3
10820      3
3220       3
2624       3
9959       3
3318       3
277        3
2714       3
6414       3
6569       3
3323       3
5145       3
9284       3
11851      3
6808       3
9318       3
8047       3
6090       3
8464       3
5528       3
6900       3
7310       3
Name: user_id, Length: 2248, dtype: int64

In [180]:
#Breakdown:

# 1. add "adopted user" label to each row that fits criteria
# (new df has both adopted_user = 1 and adopted_user = NaN--> 0
# 2. drop irrelevant columns, leaving only "object_id", "opted_in_to_mailing_list" and "enabled_for_marketing_drip"
# 3. set up trainx and trainy
# 4. feed these into .fit to build M.L. models
# 5. .predict to predict on training set and test set

In [189]:
#1

for index, val in adopted.iteritems(): 
    users.loc[users['object_id'] == index, 'adopted_user'] = 1 #index is used to connect with users df 'object_id' column
    
#Check that transformation went through with confirmed adopted user
users.loc[users['object_id'] == 3623]

#Checked

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
3622,3623,2012-06-25 14:34:33,Melo Vit�ria,VitoriaAlvesMelo@jourrapide.com,ORG_INVITE,1.401201e+09,0,0,364,3623.0,1.0

In [190]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,NaN
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,NaN
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,NaN
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,NaN

In [191]:
#Drop all NaN values in order to properly train M.L. Models 

users = users.fillna(0)
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,0.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,0.0,0.0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,0.000000e+00,1,1,74,0.0,0.0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,302,0.0,0.0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1.0
10,11,2013-12-26 03:55:54,Paulsen Malthe,MaltheAPaulsen@gustr.com,SIGNUP,1.388117e+09,0,0,69,0.0,0.0
11,12,2014-04-17 23:48:38,Mathiesen L�rke,LaerkeLMathiesen@cuvox.de,ORG_INVITE,0.000000e+00,0,0,130,9270.0,0.0
12,13,2014-03-30 16:19:38,Fry Alexander,AlexanderDFry@cuvox.de,ORG_INVITE,1.396196e+09,0,0,254,11204.0,0.0
13,14,2012-10-11 16:14:33,Rivera Bret,BretKRivera@gmail.com,SIGNUP,1.350058e+09,0,0,0,0.0,0.0
14,15,2013-07-16 21:33:54,Theiss Ralf,RalfTheiss@hotmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,175,0.0,0.0
15,16,2013-02-11 10:09:50,Engel Ren�,ReneEngel@hotmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,211,0.0,0.0
16,17,2014-04-09 14:39:38,Reynolds Anthony,AnthonyReynolds@jourrapide.com,GUEST_INVITE,1.397314e+09,1,0,175,1600.0,0.0
17,18,2013-08-24 00:26:46,Gregersen Celina,CelinaAGregersen@jourrapide.com,GUEST_INVITE,0.000000e+00,0,0,2,3153.0,0.0
18,19,2013-05-24 14:56:36,Collins Arlene,ArleneRCollins@gmail.com,SIGNUP,1.369926e+09,1,0,0,0.0,0.0
19,20,2014-03-06 11:46:38,Helms Mikayla,lqyvjilf@uhzdq.com,SIGNUP,1.401364e+09,0,0,58,0.0,1.0
20,21,2013-01-22 12:27:42,Hunter Alfie,AlfieHunter@gmail.com,PERSONAL_PROJECTS,1.358858e+09,0,0,54,0.0,0.0
21,22,2014-02-10 06:00:46,Myers Jordan,JordanMyers@gmail.com,ORG_INVITE,1.392012e+09,0,0,7,2994.0,0.0
22,23,2012-08-17 08:30:27,Souza Alice,AliceAraujoSouza@gustr.com,ORG_INVITE,1.345279e+09,1,0,6,23.0,0.0
23,24,2013-09-09 22:20:03,Woodruff James,JamesTWoodruff@cuvox.de,SIGNUP,1.378765e+09,1,0,123,0.0,0.0
24,25,2014-02-25 00:11:13,Stone Elise,EliseStone@jourrapide.com,GUEST_INVITE,1.393373e+09,1,0,81,6312.0,0.0
25,26,2013-07-28 00:53:32,Wexler Florian,FlorianWexler@jourrapide.com,ORG_INVITE,0.000000e+00,0,0,56,11857.0,0.0
26,27,2014-01-14 17:35:11,Santos Lu�s,LuisPintoSantos@gmail.com,ORG_INVITE,1.389807e+09,0,0,134,4189.0,0.0
27,28,2013-02-11 20:00:25,Weissmuller Marko,MarkoWeissmuller@jourrapide.com,SIGNUP,1.360872e+09,0,0,6,0.0,0.0
28,29,2013-09-16 02:08:41,Fernandes Evelyn,EvelynSousaFernandes@jourrapide.com,SIGNUP,1.379384e+09,0,0,92,0.0,0.0
29,30,2013-06-04 00:44:25,Egger Leah,LeahEgger@jourrapide.com,GUEST_INVITE,1.370307e+09,0,0,251,4835.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11970,11971,2013-05-04 06:54:23,Ferreira Beatrice,BeatriceBarbosaFerreira@yahoo.com,GUEST_INVITE,0.000000e+00,0,0,3,11854.0,0.0
11971,11972,2012-09-13 23:23:11,Penington Jamie,JamiePenington@yahoo.com,ORG_INVITE,0.000000e+00,0,0,16,7012.0,0.0
11972,11973,2012-10-30 03:09:47,Simmons Thomas,ThomasSimmons@gmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,52,0.0,0.0
11973,11974,2012-12-26 16:42:08,Scott James,JamesJScott@gmail.com,SIGNUP,1.356713e+09,0,0,167,0.0,0.0
11974,11975,2013-03-23 11:10:11,Daecher J�rgen,JurgenDaecher@gustr.com,GUEST_INVITE,1.400757e+09,1,0,31,6410.0,1.0
11975,11976,2013-12-25 22:01:41,Kohl Leah,LeahKohl@hotmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,248,0.0,0.0
11976,11977,2013-09-17 18:58:51,Crary Joshua,JoshuaHCrary@gmail.com,SIGNUP_GOOGLE_AUTH,1.379704e+09,0,0,144,0.0,0.0
11977,11978,2014-04-23 16:28:06,Castro Pedro,PedroCunhaCastro@gustr.com,PERSONAL_PROJECTS,0.000000e+00,1,0,29,0.0,0.0
11978,11979,2013-01-28 09:26:33,Hurst Harley,HarleyHurst@yahoo.com,SIGNUP,1.359624e+09,0,0,2,0.0,0.0
11979,11980,2014-02-02 15:23:18,Gloeckner Franziska,ljnnbqdr@cgbld.com,ORG_INVITE,1.397835e+09,0,0,406,3068.0,1.0
11980,11981,2013-03-05 01:53:48,Fry Tyler,TylerFry@gmail.com,GUEST_INVITE,1.364868e+09,0,0,110,5775.0,1.0
11981,11982,2013-12-06 14:39:15,Barajas Maria,MariaCBarajas@gmail.com,ORG_INVITE,1.386341e+09,1,1,57,2527.0,0.0
11982,11983,2013-07-30 00:23:36,Engel Mike,MikeEngel@gmail.com,SIGNUP_GOOGLE_AUTH,1.375144e+09,0,0,234,0.0,0.0
11983,11984,2014-02-11 21:26:11,Reed Cerys,CerysReed@yahoo.com,SIGNUP,1.392154e+09,0,0,170,0.0,0.0
11984,11985,2013-07-08 17:23:26,Jespersen Marcus,MarcusTJespersen@cuvox.de,PERSONAL_PROJECTS,0.000000e+00,0,0,74,0.0,0.0
11985,11986,2012-06-24 01:02:14,Ribeiro Clara,ClaraBarrosRibeiro@gmail.com,SIGNUP_GOOGLE_AUTH,1.341105e+09,0,0,111,0.0,0.0
11986,11987,2013-03-15 03:21:01,Reed Poppy,ftdkorrj@uyhoy.com,SIGNUP,1.363318e+09,0,0,1,0.0,0.0
11987,11988,2014-03-15 11:04:47,Minick John,JohnFMinick@yahoo.com,PERSONAL_PROJECTS,1.401621e+09,0,0,114,0.0,1.0
11988,11989,2013-09-02 11:24:33,Pereira Emilly,EmillyOliveiraPereira@gmail.com,SIGNUP_GOOGLE_AUTH,1.378553e+09,1,0,22,0.0,0.0
11989,11990,2013-07-05 21:00:48,Juhl Aase,AasePJuhl@jourrapide.com,ORG_INVITE,1.373144e+09,0,0,25,3944.0,0.0
11990,11991,2014-04-20 14:22:45,Vaughn Arthur,ArthurJVaughn@gmail.com,SIGNUP_GOOGLE_AUTH,1.401460e+09,0,0,388,0.0,1.0
11991,11992,2014-04-09 19:39:56,Hermansen Amanda,AmandaAHermansen@yahoo.com,PERSONAL_PROJECTS,1.397245e+09,0,0,129,0.0,0.0
11992,11993,2013-03-28 23:24:21,Townsend Isabel,IsabelTownsend@cuvox.de,PERSONAL_PROJECTS,0.000000e+00,0,0,281,0.0,0.0
11993,11994,2012-06-05 04:46:16,Grimstone Joel,conxzghp@eaouk.com,GUEST_INVITE,0.000000e+00,0,0,84,5450.0,0.0
11994,11995,2013-10-21 13:33:17,Werfel Sebastian,SebastianWerfel@gmail.com,PERSONAL_PROJECTS,1.382449e+09,0,0,0,0.0,0.0
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,0.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,0.0,0.0
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,0.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,0.0,0.0
11999,12000,2014-01-26 08:57:12,Lima Tha�s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,0.0,0.0

In [ ]:
#What makes them an "adopted user"?

#Now that it has been determined which users are "adopted user's", need to figure out 
#what factors into multiple log-ins into devices.

#Some features that will be considered for this model will be: 

#'creation_source', 'opted_in_to_mailing_list' & 'enabled_for_marketing_drip'

# creation_source tells how 'adopted user' would first get onboard and 'opted_in_to_mailing_list' & 
#'enabled_for_marketing_drip' show their level of commitment and therefore their continual usage

In [214]:
# 2. drop irrelevant columns, leaving only "object_id", "opted_in_to_mailing_list" and "enabled_for_marketing_drip"

users.drop(['creation_time', 'name', 'email', 'creation_source', 'last_session_creation_time', 'org_id', 'invited_by_user_id'], axis=1, inplace=True)
users

ValueError: labels ['creation_time' 'name' 'email' 'creation_source'
 'last_session_creation_time' 'org_id' 'invited_by_user_id'] not contained in axis

In [193]:
# 3. set up trainx and trainy

train = users #Training Set
train

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
0,1,1,0,0.0
1,2,0,0,1.0
2,3,0,0,0.0
3,4,0,0,0.0
4,5,0,0,0.0
5,6,0,0,0.0
6,7,0,1,0.0
7,8,1,1,0.0
8,9,0,0,0.0
9,10,1,1,1.0
10,11,0,0,0.0
11,12,0,0,0.0
12,13,0,0,0.0
13,14,0,0,0.0
14,15,0,0,0.0
15,16,0,0,0.0
16,17,1,0,0.0
17,18,0,0,0.0
18,19,1,0,0.0
19,20,0,0,1.0
20,21,0,0,0.0
21,22,0,0,0.0
22,23,1,0,0.0
23,24,1,0,0.0
24,25,1,0,0.0
25,26,0,0,0.0
26,27,0,0,0.0
27,28,0,0,0.0
28,29,0,0,0.0
29,30,0,0,0.0
...,...,...,...,...
11970,11971,0,0,0.0
11971,11972,0,0,0.0
11972,11973,0,0,0.0
11973,11974,0,0,0.0
11974,11975,1,0,1.0
11975,11976,0,0,0.0
11976,11977,0,0,0.0
11977,11978,1,0,0.0
11978,11979,0,0,0.0
11979,11980,0,0,1.0
11980,11981,0,0,1.0
11981,11982,1,1,0.0
11982,11983,0,0,0.0
11983,11984,0,0,0.0
11984,11985,0,0,0.0
11985,11986,0,0,0.0
11986,11987,0,0,0.0
11987,11988,0,0,1.0
11988,11989,1,0,0.0
11989,11990,0,0,0.0
11990,11991,0,0,1.0
11991,11992,0,0,0.0
11992,11993,0,0,0.0
11993,11994,0,0,0.0
11994,11995,0,0,0.0
11995,11996,0,0,0.0
11996,11997,0,0,0.0
11997,11998,1,1,0.0
11998,11999,0,0,0.0
11999,12000,0,1,0.0

In [194]:
test = users[9600:12000] #Test Set (based off of Test set being 20% of whole dataset)
test

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
9600,9601,1,0,1.0
9601,9602,0,0,0.0
9602,9603,0,0,0.0
9603,9604,0,0,0.0
9604,9605,0,0,0.0
9605,9606,0,0,0.0
9606,9607,0,0,0.0
9607,9608,1,1,0.0
9608,9609,0,0,0.0
9609,9610,0,0,0.0
9610,9611,0,0,0.0
9611,9612,0,0,0.0
9612,9613,0,0,0.0
9613,9614,0,0,0.0
9614,9615,1,1,1.0
9615,9616,0,0,1.0
9616,9617,0,0,0.0
9617,9618,0,0,0.0
9618,9619,0,0,0.0
9619,9620,0,0,0.0
9620,9621,0,0,0.0
9621,9622,0,0,0.0
9622,9623,0,0,1.0
9623,9624,0,0,0.0
9624,9625,1,1,0.0
9625,9626,0,0,0.0
9626,9627,0,0,0.0
9627,9628,0,0,0.0
9628,9629,0,0,0.0
9629,9630,1,1,0.0
...,...,...,...,...
11970,11971,0,0,0.0
11971,11972,0,0,0.0
11972,11973,0,0,0.0
11973,11974,0,0,0.0
11974,11975,1,0,1.0
11975,11976,0,0,0.0
11976,11977,0,0,0.0
11977,11978,1,0,0.0
11978,11979,0,0,0.0
11979,11980,0,0,1.0
11980,11981,0,0,1.0
11981,11982,1,1,0.0
11982,11983,0,0,0.0
11983,11984,0,0,0.0
11984,11985,0,0,0.0
11985,11986,0,0,0.0
11986,11987,0,0,0.0
11987,11988,0,0,1.0
11988,11989,1,0,0.0
11989,11990,0,0,0.0
11990,11991,0,0,1.0
11991,11992,0,0,0.0
11992,11993,0,0,0.0
11993,11994,0,0,0.0
11994,11995,0,0,0.0
11995,11996,0,0,0.0
11996,11997,0,0,0.0
11997,11998,1,1,0.0
11998,11999,0,0,0.0
11999,12000,0,1,0.0

In [195]:
#Setting up Training dataset

trainx = train.drop('adopted_user', axis = 1)

trainy = train['adopted_user']

In [196]:
#Setting up Testing Dataset

testx = test.drop('adopted_user', axis = 1)

testy = test['adopted_user']

In [199]:
# 4. feed these into .fit to build models

##.fit to build Linear Regression (L.R.) Model

from sklearn.linear_model import LogisticRegression

lm = linear_model.LogisticRegression().fit(trainx, trainy)
lm

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
# 5. .predict to predict on training set and test set

In [200]:
#Predicting on Training dataset

lm_train_predictions =  lm.predict(trainx)
lm_train_predictions

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [201]:
#L.R. Training dataset RMSE

from sklearn.metrics import mean_squared_error
import numpy as np

calories_predictions = lm_train_predictions
lin_mse = mean_squared_error(trainy, calories_predictions)
tr_lin_rmse = np.sqrt(lin_mse)
tr_lin_rmse

0.43282020901678486

In [202]:
#Predicting on Test dataset
lm_test_predictions = lm.predict(testx)
lm_test_predictions

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [203]:
#Test set RMSE

calories_predictions2 = lm_test_predictions
lin_mse = mean_squared_error(testy, calories_predictions2)
te_lin_rmse = np.sqrt(lin_mse)
te_lin_rmse

0.44111600892886821

In [204]:
#.fit to build Decision Tree (D.T.) model

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

param_grid = [{'max_depth': [0.5, 1, 2, 3, 4]}]

tree_reg = DecisionTreeClassifier()

grid_search = GridSearchCV(tree_reg, param_grid, cv = 3, scoring = 'neg_mean_squared_error')

grid_search.fit(trainx, trainy)

#Getting best estimator directly. Inputting results in refit Decision Tree model.
grid_search.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=0.5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [205]:
#Training Decision Tree (D.T.) Model 

#Now with optimized parameters, can .fit model with tuned settings:

tree_reg = DecisionTreeClassifier(max_depth = 0.5)
tree_reg.fit(trainx,trainy)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=0.5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [206]:
#Predicting on Training dataset

tree_reg_train_predictions = tree_reg.predict(trainx)
tree_reg_train_predictions

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [207]:
#Training dataset RMSE

calories_predictions3 = tree_reg_train_predictions
tree_mse = mean_squared_error(trainy, calories_predictions3)
tr_tree_rmse = np.sqrt(tree_mse)
tr_tree_rmse

0.43282020901678486

In [208]:
#Predicting on Test dataset

tree_reg_test_predictions = tree_reg.predict(testx)
tree_reg_test_predictions

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [209]:
#Test dataset RMSE

calories_predictions4 = tree_reg_test_predictions
tree_mse = mean_squared_error(testy, calories_predictions4)
te_tree_rmse = np.sqrt(tree_mse)
te_tree_rmse

0.44111600892886821

In [210]:
#Summary Table of Model Performance Metrics

import plotly.plotly as py
import plotly.figure_factory as ff

data_matrix = [['RMSE for:', 'L.R.', 'D.T.'],
               ['Training', tr_lin_rmse, tr_tree_rmse],
               ['Test', te_lin_rmse, te_tree_rmse]]

table = ff.create_table(data_matrix)
py.iplot(table, filename='simple_table')

In [212]:
#Conclusions from Summary Table:

# 1. Training set and Test Set RMSE values are very close. No overfitting. This means trained model represented "reality" well.
# 2. L.R. model and D.T. model have equivalent RMSE's. It seems like both models are equivalent. 
# Sufficient to just use L.R. model???

In [ ]:
#Considerations/#Recommendations/Further Research

#Consideration for code is:
# Automate verification when checking if three log-in times span 7 days or more to be qualified as an "adopted user"


# #Considerations for data:
# Have more features to select from in order to better determine/predict an "adopted user".
# For example, instead of just log-in's, have usage data on certain services they use
# in order to determine level of user engagement.
# Otherwise, with current features, there is a lot of extrapolation with how a user gets "adopted"
# because data on how a user's account got started does not have a strong relationship with how a user commits to a 
# service provider.