In [6]:
import pandas as pd

import json
from pandas.io.json import json_normalize

In [3]:
ls

Ultimate Tech Take-Home.ipynb        ultimate_data_challenge.json
logins.json                          ultimate_data_science_challenge.pdf

In [7]:
#Part 1. Exploratory Data Analysis


#Aggregate log-in's into 15 min intervals

logins = pd.read_json('logins.json')
logins









#Visualize

#Underlying patterns of demand

#Important features of demand

#Data quality issues

               login_time
0     1970-01-01 20:13:18
1     1970-01-01 20:16:10
2     1970-01-01 20:16:37
3     1970-01-01 20:16:36
4     1970-01-01 20:26:21
5     1970-01-01 20:21:41
6     1970-01-01 20:12:16
7     1970-01-01 20:35:47
8     1970-01-01 20:35:38
9     1970-01-01 20:47:52
10    1970-01-01 20:26:05
11    1970-01-01 20:31:03
12    1970-01-01 20:34:46
13    1970-01-01 20:36:34
14    1970-01-01 20:39:25
15    1970-01-01 20:40:37
16    1970-01-01 20:34:58
17    1970-01-01 20:43:59
18    1970-01-01 20:47:46
19    1970-01-01 20:46:34
20    1970-01-01 20:56:07
21    1970-01-01 20:49:12
22    1970-01-01 20:59:06
23    1970-01-01 20:59:59
24    1970-01-01 21:15:01
25    1970-01-01 21:09:24
26    1970-01-01 21:19:24
27    1970-01-01 21:20:53
28    1970-01-01 21:29:19
29    1970-01-01 21:58:05
...                   ...
93112 1970-04-13 17:38:24
93113 1970-04-13 17:37:19
93114 1970-04-13 17:45:35
93115 1970-04-13 17:39:02
93116 1970-04-13 17:39:56
93117 1970-04-13 17:41:30
93118 1970-04-13 17:48:13
93119 1970-04-13 17:54:45
93120 1970-04-13 17:58:07
93121 1970-04-13 18:09:03
93122 1970-04-13 17:52:11
93123 1970-04-13 18:05:42
93124 1970-04-13 18:09:57
93125 1970-04-13 18:16:48
93126 1970-04-13 18:18:26
93127 1970-04-13 18:14:55
93128 1970-04-13 18:12:34
93129 1970-04-13 18:35:43
93130 1970-04-13 18:36:55
93131 1970-04-13 18:43:19
93132 1970-04-13 18:36:53
93133 1970-04-13 18:40:31
93134 1970-04-13 18:46:06
93135 1970-04-13 18:40:40
93136 1970-04-13 18:48:52
93137 1970-04-13 18:50:19
93138 1970-04-13 18:43:56
93139 1970-04-13 18:54:02
93140 1970-04-13 18:57:38
93141 1970-04-13 18:54:23

[93142 rows x 1 columns]

In [ ]:
#Part 2. Experiment and metrics design

#key measure of success and why chosen

#how you implement the experiment

#what statistical test(s) you will conduct to verify the significance of observation

#how would you interpret the results and provide recommendations to the city operations team along with any caveats

In [ ]:
#Part 3. Predictive Modeling

#Cleaning, Exploratory Data Analysis, and/or viz to use provided data for this analysis